
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectEntityLabel" data-translate="cvgeneratorApp.projectEntity.home.createOrEditLabel">Create or edit a Project Entity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.projectEntity.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.projectEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.projectEntity.project" for="field_project">Project</label>
            <input type="text" class="form-control" name="project" id="field_project"
                    ng-model="vm.projectEntity.project"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.projectEntity.client" for="field_client">Client</label>
            <input type="text" class="form-control" name="client" id="field_client"
                    ng-model="vm.projectEntity.client"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.projectEntity.technology" for="field_technology">Technology</label>
            <input type="text" class="form-control" name="technology" id="field_technology"
                    ng-model="vm.projectEntity.technology"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.projectEntity.duties" for="field_duties">Duties</label>
            <input type="text" class="form-control" name="duties" id="field_duties"
                    ng-model="vm.projectEntity.duties"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cvgeneratorApp.projectEntity.employeeEntity" for="field_employeeEntity">Employee Entity</label>
            <select class="form-control" id="field_employeeEntity" name="employeeEntity" ng-model="vm.projectEntity.employeeEntity" ng-options="employeeEntity as employeeEntity.id for employeeEntity in vm.employeeentities track by employeeEntity.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
