
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeEntityLabel" data-translate="cvgeneratorApp.employeeEntity.home.createOrEditLabel">Create or edit a Employee Entity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employeeEntity.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employeeEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.employeeEntity.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.employeeEntity.surname"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.department" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                    ng-model="vm.employeeEntity.department"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.division" for="field_division">Division</label>
            <input type="text" class="form-control" name="division" id="field_division"
                    ng-model="vm.employeeEntity.division"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.employeeEntity.address"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
            <input type="text" class="form-control" name="dateOfBirth" id="field_dateOfBirth"
                    ng-model="vm.employeeEntity.dateOfBirth"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.employeeEntity.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cvgeneratorApp.employeeEntity.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="vm.employeeEntity.telephone"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cvgeneratorApp.employeeEntity.userEntity" for="field_userEntity">User Entity</label>
            <select class="form-control" id="field_userEntity" name="userEntity" ng-model="vm.employeeEntity.userEntity" ng-options="userEntity as userEntity.id for userEntity in vm.userentities | orderBy:'id' track by userEntity.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
